html { 
	height: 100% 
}

body { 
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: lightgrey !important 
}

#main-container {
	height: calc(100% - 56px);
	width: 100% 
}

#map-canvas {
	height: 100%;
	cursor: crosshair;
}

.no-padding {
	padding: 0 !important;
}

#navbar{
	background: linear-gradient(to right, #fe2626, #ed911a) !important;
	height: 56px;
}

.pink{
	background-color: transparent !important;
	border: 1px solid black !important;
	width: 100px;
	font-weight: bold !important;
}

.modal-content{
	margin-top: calc(50% - 112px);
}

#login-btn{
	width: 200px
}

.section-title{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
}

.sub-section-title{
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

div.gmnoprint:nth-child(11) {
	visibility: hidden;
}

.gm-svpc {
	visibility: hidden;
}

.al-btn{
	background-image: linear-gradient(to right, #fe2626, #ed911a);
	border-radius: 25px !important;
	border: none !important;
	color: white;
	text-decoration: none !important;
}

.btn:focus,.btn:active {
	background-image: linear-gradient(to right, #fe2626, #ed911a) !important;
	opacity: 0.75;
	outline: none !important;
	box-shadow: none !important;
}

.det-btn{
	height: 20px;
	font-size: 12px !important;
	padding-top: 1px !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
	text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#backbtn{
	position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
}

.open-sidenav{
	width: 350px;
}

/* rating stars */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 0 0 -20px;
    opacity: 0;
}

.rating-star {
	margin: 1px;
    cursor: pointer;
    position: relative;
	float: right;
    display: block;
    width: 20px;
    height: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.rating-unselected {
	color: grey;
	font-size: 20px;
}

.rating-selected {
	color: #fe2626;
}

/* red checkboxes */
.redCheck {
	width: 20px;
	height: 20px;
	background: #ddd;
	margin: 2px 0px;
	float: right;
	border-radius: 3px;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.redCheck label {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 2px;
	background: grey;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.redCheck input[type=checkbox]:checked + label {
	background: #fe2626;
}
.redCheck input[type=checkbox]{
    display: none;
}

/* red radio boxes */
.redCheck1 {
	width: 20px;
	height: 20px;
	background: #ddd;
	margin: 2px 0px;
	float: right;
	border-radius: 10px;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.redCheck1 label {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 2px;
	background: grey;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.redCheck1 input[type=radio]:checked + label {
	background: #fe2626;
}
.redCheck1 input[type=radio]{
    display: none;
}
.gm-style > div:nth-child(3) {
	display: none;
}

#load-screen{
	width: 100%; 
	height: 100%; 
	background: linear-gradient(to right, #fe2626, #ed911a);
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: Georgia;
	z-index: 0; 
	position: fixed; 
	opacity: 0;
	animation: fadeout 4s;
	-webkit-animation: fadeout 4s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1; 
}

#load-txt{
	position: relative;
	top: calc(50% - 75px);
}

@-webkit-keyframes fadeout{
  0% {opacity: 1; z-index: 2000}
  50% {opacity: 1;}
  100% {opacity: 0; z-index: 0}
}