html { 
	height: 100% 
}

body { 
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: lightgrey !important 
}

#main-container {
	height: calc(100% - 56px);
	width: 100% 
}

#map-canvas {
	height: 100%;
	cursor: crosshair;
}

.no-padding {
	padding: 0 !important;
}

#navbar{
	background-color: #fe2626 !important;
	height: 56px;
}

.pink{
	background-color: #ff7f7f !important;
	width: 100px;
	font-weight: bold !important;
}

.modal-content{
	margin-top: calc(50% - 112px);
}

#login-btn{
	width: 200px
}

.section-title{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
}

.sub-section-title{
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

div.gmnoprint:nth-child(11) {
	visibility: hidden;
}

.gm-svpc {
	visibility: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
	text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.open-sidenav{
	width: 25%;
	min-width: 350px;
}